.MediumPp {
    padding: 10px;
    color: white ;
    background-color: red;
}

.smollPP {
    margin: 10px;
    color: white;
    background-color: green;

}

.Bigpp {
    width: 400spx;
    height: 200px;
    color: white;
    background-color: Blue;
}