h1{
    color: red;
    font-size: large;
    margin: 0; 
}
h2{
    color: red;
    font-size: large;
    margin: 0; 
}
h3{
    color: red;
    font-size: large;
    margin: 0; 
}
h4{
    color: red;
    font-size: large; 
    margin: 0; 
}
h5{
    color: red;
    font-size: large;
    margin: 0; 
}
h6{
    color: red;
    font-size: large;
    margin: 0; 
}
